@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

:root {
    --primary-font: 'Domine';
    --text-decor: none;
}
body{
    background-color: #EAEAEA;
    color: black;
    
}
li {
    list-style-type: var(--text-decor);
}